<div class="icon-collapse">
  <div class="title-area">
    <span>{{ 'sunday.partials.button.read_more' | t }}</span>
  </div>
  <div class="icon-area">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
      <path d="M18.7071 13.3277C19.0976 12.9372 19.0976 12.304 18.7071 11.9135C18.3166 11.523 17.6834 11.523 17.2929 11.9135L12 17.2064L6.70711 11.9135C6.31658 11.523 5.68342 11.523 5.29289 11.9135C4.90237 12.304 4.90237 12.9372 5.29289 13.3277L11.2929 19.3277C11.6834 19.7182 12.3166 19.7182 12.7071 19.3277L18.7071 13.3277Z" fill="url(#paint0_radial_1692_1256)"/>
      <path d="M18.7071 8.32771C19.0976 7.93719 19.0976 7.30402 18.7071 6.9135C18.3166 6.52297 17.6834 6.52297 17.2929 6.9135L12 12.2064L6.70711 6.9135C6.31658 6.52297 5.68342 6.52297 5.29289 6.9135C4.90237 7.30402 4.90237 7.93719 5.29289 8.32771L11.2929 14.3277C11.6834 14.7182 12.3166 14.7182 12.7071 14.3277L18.7071 8.32771Z" fill="url(#paint1_radial_1692_1256)"/>
      <defs>
      <radialGradient id="paint0_radial_1692_1256" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12.4861 13.8428) rotate(-37.3569) scale(6.64561 6.53391)">
      <stop offset="0.241314" stop-color="#DCA461"/>
      <stop offset="1" stop-color="#CA9B63"/>
      </radialGradient>
      <radialGradient id="paint1_radial_1692_1256" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12.4861 13.8428) rotate(-37.3569) scale(6.64561 6.53391)">
      <stop offset="0.241314" stop-color="#DCA461"/>
      <stop offset="1" stop-color="#CA9B63"/>
      </radialGradient>
      </defs>
    </svg>
  </div>
</div>
