{{ 'sunday-master-list-content.css' | asset_url | stylesheet_tag }}

<section class="list-content-area page-width">
  {%- for block in section.blocks -%}
    <div class="box-content-area">
      <div class="box-title-area box-left-area">
        <h2>{{ block.settings.title }}</h2>
      </div>
      <div class="box-description-area box-right-area">
        {{ block.settings.content }}
      </div>
    </div>
  {%- endfor -%}
</section>

{% schema %}
{
  "name": "t:sections.sunday-master-list-content.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "name": "t:sections.sunday-master-list-content.blocks.name",
      "type": "list_row",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Tiêu đề",
          "label": "t:sections.sunday-master-list-content.blocks.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Nội dung</p>",
          "label": "t:sections.sunday-master-list-content.blocks.settings.content.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.sunday-master-list-content.presets.name"
    }
  ]
}
{% endschema %}
