.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

/* CUSTOM CSS */
@media only screen and (min-width: 1px) {
  .policy_page .main-page-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    color: #000;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-transform: uppercase;
    margin: 15px 0 20px;
    text-align: center;
  }

  .rte p,
  .rte span,
  .rte div {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: #333;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    min-height: 16px;
    display: block;
    margin: 0;
  }

  .rte ul {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: #333;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    min-height: 16px;
    display: block;
  }


  .rte h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #333;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    min-height: 16px;
    display: block;
    margin: 8px 0;
  }
}

@media only screen and (min-width: 769px) {
  .policy_page .main-page-title {
    font-size: 22px;
  }

  .rte p,
  .rte span,
  .rte div,
  .rte ul {
    font-size: 16px;
  }

  .rte h3 {
    font-size: 18px;
  }
}