$White-FFF: #FFFFFF;
$Black-000: #000000;

$Gray-F1F: #F1F1F1;
$Gray-F6F: #F6F4EE;
$Gray-E3E: #E3E3E3;
$Gray-CAC: #CACACA;
$Gray-888: #888;
$Gray-686: #686868;
$Gray-333: #333;
$Gray-889: #889289;
$Gray-343: #343434;
$Gray-5E6: #5E695D;
$Gray-C2C: #C2C2C2;

$Green-3A4: #3A4837;

$Orange-CA9: #CA9B63;
$Orange-DED: #DED2C9;
$Orange-FFB: #FFB155



