@import 'function.scss';

@media only screen and (min-width: 200px) {
    .product-relate-area {
        padding: 44px 12px;
        @include customProduct();
        
        .title-area {
            text-align: center;

            h2 {
                @include customFont(20px, 600, 130%, $Black-000, null, null);
                text-transform: uppercase;
                margin: 0;
            }
        }

        .group-product-slider {
            width: 100%;
            margin-top: 24px;

            .product-item {
                height: 430px;
                padding: 0 12px;
            }

            /* the parent */
            .slick-list {
                width: 100%;
            }

            .slick-track {
                margin-left: 0;
            }

            .slick-prev,
            .slick-next {
                background: transparent;
                border: none;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 99;
                width: 48px;
                height: 48px;

                &::before {
                    content: "";
                    display: none;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .product-relate-area {
        .title-area {
            text-align: center;

            h2 {
                font-size: 48px;
                line-height: 100%;
            }
        }

        .group-product-slider {
            margin-top: 44px;

            .product-item {
                height: 530px;
            }

            /* the parent */
            .slick-list {
                width: 100%;
            }

            .slick-track {
                margin-left: 0;
            }

            .slick-prev {
                left: -50px;
            }

            .slick-next {
                right: -50px;
            }
        }
    }
}

