@import 'function.scss';

@media only screen and (min-width: 200px) {

    .background-content-area {
        position: relative;
        height: 400px;

        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;

        h1{
            display: none;
        }

        .group-content-area {
            @include flexCustome(column, nowrap, center, center, center);
            height: 100%;

            .title-desktop {
                display: none;
            }

            .title-area {
                h2 {
                    @include customFont(22px, 700, 140%, $White-FFF, null, null);
                    margin: 0;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {

    .background-content-area {
        height: 425px;

        .group-content-area {
            
            .title-mobile {
                display: none;
            }

            .title-desktop {
                display: block;
            }

            .title-area {
                h2 {
                    font-size: 48px;
                    line-height: 120%;
                    letter-spacing: -1.92px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {

    .background-content-area {
        height: 600px;
        max-height: 90vh;

        .group-content-area {
            
            .title-area {
                h2 {
                    font-size: 60px;
                    line-height: 120%;
                    letter-spacing: -3.36px;
                }
            }
        }
    }
}