@import 'function.scss';

@media only screen and (min-width: 1px) {

    .background-content-area {
        @include flexCustome(column, nowrap, center, center, center, 30px);

        position: relative;
        height: 400px;

        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;

        h1 {
            display: none;
        }

        .group-content-area {
            @include flexCustome(column, nowrap, center, center, center);
            gap: 16px;

            .content-desktop,
            .title-desktop {
                display: none;
            }

            .content-area {
                padding: 0 10px;

                p {
                    @include customFont(13px, 400, 140%, $White-FFF, null, null);
                    margin: 0;
                    text-align: center;
                }
            }

            .title-area {
                h2 {
                    @include customFont(22px, 700, 140%, $White-FFF, null, null);
                    margin: 0;
                    text-align: center;
                    text-transform: uppercase;
                }

                h3 {
                    @include customFont(14px, 500, 140%, $White-FFF, null, null);
                    margin: 0;
                    text-align: center;
                }
            }
        }

        .button-area {
            @include flexCustome(row, nowrap, center, center, center);
            width: 100%;

            a {
                @include customFont(17px, 700, 100%, $White-FFF, null, null);
                @include customButton($Orange-CA9, $Orange-CA9, $Gray-5E6, $Gray-5E6, $White-FFF, $White-FFF);
                padding: 16px 38px;
            }
        }

        &.product-authenticity {

            .group-content-area {
                gap: 8px;

                .title-area {
                    h3 {
                        font-size: 20px;
                        font-weight: 700;
                    }

                }

                .content-area {
                    p {
                        font-size: 16px;
                    }

                    span {
                        font-size: 20px;
                        font-weight: 700;
                        color: $White-FFF;
                        @include flexCenter(row, nowrap);
                        margin-top: 8px;
                    }
                }
            }

        }
    }
}

@media only screen and (min-width: 769px) {

    .background-content-area {
        height: 425px;

        .group-content-area {

            .content-mobile,
            .title-mobile {
                display: none;
            }

            .content-desktop,
            .title-desktop {
                display: block;
            }

            .content-area {
                p {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 160%;
                }
            }

            .title-area {
                h2 {
                    font-size: 48px;
                    line-height: 120%;
                    letter-spacing: -1.92px;
                }

                h3 {
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {

    .background-content-area {
        height: 600px;
        max-height: 90vh;

        .group-content-area {

            .title-area {
                h2 {
                    font-size: 60px;
                    line-height: 120%;
                    letter-spacing: -3.36px;
                }
            }
        }
    }
}