@import 'function.scss';

//--------------------------------------------Header--------------------------------------------
.header-wrapper {
    background: transparent;
    position: absolute;
    width: 100%;
    border: none;

    .menu-drawer {
        top: 0;

        .menu-topbar-area {
            @include flexCustome(row, nowrap, center, space-between, center);
            padding: 0 16px;

            .menu-title-area {
                h3 {
                    @include customFont(22px, 400, 170%, $Gray-333, null, #{14px});
                    text-transform: uppercase;
                    margin: 0;
                }
            }

            .group-menu-content-area {
                @include flexCustome(row, nowrap, center, center, center, 8px);

                .language-area {
                    @include flexCustome(row, nowrap, center, center, center, 8px);

                    a {
                        @include customFont(22px, 600, 135%, $Gray-333, null, #{16px});
                        text-transform: uppercase;
                        text-decoration: none;

                        &.active {
                            color: $Orange-CA9;
                        }
                    }

                    .group-line-area {
                        @include flexCustome(row, nowrap, center, center, center, 1px);

                        span {
                            width: 1px;
                            height: 16px;
                            background: $Gray-333;
                        }
                    }
                }

                .icon-area {
                    @include flexCustome(row, nowrap, center, center, center);

                    .icon-close-custom {
                        width: 20px;
                        height: 20px;
                    }
                }

            }

        }

        .menu-topbar-line-area {
            display: block;
            width: 100%;
            height: 1px;
            background: $Gray-889;
            margin: 16px 0;
        }

        .menu-drawer__menu {
            .list-menu__item {
                @include customFont(16px, 500, 150%, $Gray-333, null, null);
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (min-width: 200px) {
    .header {
        grid-template-areas: 'left-icons search logo users carts';
        grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
        padding: 12px 16px;

        header-drawer {
            margin-left: 0;
        }

        .header__icon {
            width: 24px;
            height: 24px;

            span {
                justify-content: flex-start;
            }

            .icon {
                color: $White-FFF;
            }
        }

        .header__heading {
            grid-area: logo;
            justify-self: center;
        }

        .header__icons {
            grid-area: search;
            justify-self: start;
            padding-right: 0;

            span {
                justify-content: flex-start;
            }

            .header__custom-search {
                display: none;
            }
        }

        .header__user {
            display: flex;
            grid-area: users;
            justify-self: end;
            padding-right: 0;

            svg {
                width: 23px;
                height: 23px;
            }
        }

        .header__cart {
            display: flex;
            grid-area: carts;
            justify-self: end;
            padding-right: 0;

            svg {
                width: 23px;
                height: 23px;
            }

            .header__icon--cart {
                margin-right: 0;
                justify-content: end;
            }
        }

        .header__inline-menu {
            grid-area: main-menu;

            .list-menu--inline {
                column-gap: 32px;
            }

            .list-menu__item {
                padding: 0;
            }
        }

        .header__inline-second-menu {
            grid-area: second-menu;
            display: none;

            .list-menu--inline {
                column-gap: 32px;
            }

            .list-menu__item {
                padding: 0;
            }
        }

        .list-menu--inline {
            flex-wrap: nowrap;
        }

        .header__active-menu-item{
            text-decoration: none;
            position: relative;
     
            &::after{
             content: "";
             position: absolute;
             bottom: -5px;
             left: 0;
             right: 0;
             width: 100%;
             height: 2px;
             background: $Orange-CA9;
            }
         }
    }

    .cart-count-bubble {
        top: -3px;
        left: unset;
        right: -6px;
        bottom: unset;
        width: 16px;
        height: 16px;
        background-color: $Orange-CA9;
        @include customFont(12px, 600, 100%, $White-FFF, null, null);
    }

    .header__heading-logo-wrapper {
        img {
            width: 120px;
            height: 46.612px;
            object-fit: contain;
        }

        &.second-logo {
            opacity: 0;
            height: 0;
            overflow: hidden;
            @include customTransition(opacity 1s ease-out);
        }
    }

    .header__heading-link {
        padding: 0;
        margin: 0 !important;
    }

    .shopify-section-header-sticky {
        .header-wrapper {
            background: $White-FFF;
            border-bottom: 2px solid $Gray-CAC;
        }

        .header__heading-logo-wrapper {
            display: none;

            &.second-logo {
                opacity: 1;
                display: block;
                height: auto;

                img {
                    width: 51px;
                    height: 47px;
                }
            }
        }

        .header__icon {
            .icon {
                color: $Black-000;
            }

            &.header__icon--menu svg path {
                stroke: $Black-000;
            }
        }

        .header__user {
            svg {
                path {
                    stroke: $Black-000;
                }
            }
        }

        .header__cart {
            svg {
                path {
                    fill: $Black-000;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .header {
        grid-template-columns: .5fr .5fr 5fr .5fr .5fr;
        padding: 42px 44px;

        .header__icon {
            width: 32px;
            height: 32px;

            .icon {
                width: 32px;
                height: 32px;
            }
        }

        .header__user {
            svg {
                width: 32px;
                height: 32px;
            }
        }

        .header__cart {
            .header__icon--cart {
                svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    .cart-count-bubble {
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    .header__heading-logo-wrapper {
        img {
            width: 159px;
            height: 62px;
        }
    }
}

@media only screen and (min-width: 990px) {
    .header {
        // grid-template-areas: "left-icons icons heading users carts";
        grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
            ". . . . . . search search . users carts"
            "second-menu second-menu second-menu second-menu second-menu logo main-menu main-menu main-menu main-menu main-menu";
        padding: 10px 40px !important;

        details-modal.header__search {
            display: none;
        }

        .header__inline-menu {
            justify-self: end;

            .list-menu__item {
                span {
                    @include customFont(16px, 600, 133%, $White-FFF, null, null);
                    text-transform: uppercase;
                }
            }
        }

        .header__inline-second-menu {
            .list-menu__item {
                span {
                    @include customFont(16px, 600, 133%, $White-FFF, null, null);
                    text-transform: uppercase;
                }
            }
        }

        .header__inline-second-menu {
            display: block;
        }

        .header__icons {
            justify-self: end;

            .header__search {
                display: none !important;
            }

            .header__custom-search {
                display: block;

                .search {
                    .field {
                        &::after {
                            box-shadow: none;
                        }

                        .search__input.field__input {
                            border-radius: 5px;
                            background: rgba(255, 255, 255, 0.50);
                            border: none;
                            padding: 14px 7px;
                            @include customFont(13px, 400, 100%, $Black-000, null, null);
                        }

                        .field__input:focus~.field__label,
                        .field__input:not(:placeholder-shown)~.field__label,
                        .field__input:-webkit-autofill~.field__label,
                        .customer .field input:focus~label,
                        .customer .field input:not(:placeholder-shown)~label,
                        .customer .field input:-webkit-autofill~label {
                            top: 3px;
                        }

                        .field__label {
                            left: 7px;
                            font-family: Quicksand;
                        }

                        .field__button {
                            width: 36px;
                        }

                        .reset__button {
                            right: 36px;
                        }
                    }

                    .predictive-search--header {
                        display: none;

                        .predictive-search__results-groups-wrapper {
                            @include flexCustome(column, nowrap, flex-start, center, flex-start);
                        }
                    }
                }
            }
        }
    }

    .header__heading-logo-wrapper {
        img {
            width: 240px;
            height: 93.06px;
        }
    }

    .shopify-section-header-sticky {
        .header-wrapper {
            background: $White-FFF;
            border-bottom: 2px solid $Gray-CAC;
        }

        .header {
            grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 4fr 3fr 4fr 1fr 0.5fr 0.5fr 0.5fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                ". . . . second-menu logo main-menu search . users carts";
            padding: 25px;

            .header__inline-menu {
                margin-left: 12px;
            }

            .header__inline-second-menu {
                margin-right: 12px;
            }

            .header__icons {
                .header__custom-search {
                    display: none;
                }

                .header__search {
                    display: block !important;

                    span {
                        justify-content: flex-end;
                    }
                }
            }

            .header__inline-second-menu,
            .header__inline-menu {
                .list-menu__item span {
                    color: $Black-000;
                }
            }
        }

        .header__heading-logo-wrapper {
            display: none;

            &.second-logo {
                opacity: 1;
                display: block;
                height: auto;

                img {
                    width: 51px;
                    height: 47px;
                }
            }
        }

        .header__icon .icon {
            color: $Black-000;
        }

        .header__user {
            svg {
                path {
                    stroke: $Black-000;
                }
            }
        }

        .header__cart {
            svg {
                path {
                    fill: $Black-000;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .header {}
}

//--------------------------------------------Footer--------------------------------------------
@media only screen and (min-width: 200px) {
    .footer {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: 0 !important;

        .footer__content-top {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;

            .footer__blocks-wrapper {
                display: flex;
                row-gap: 0;
            }

            .footer-block.grid__item {
                margin-bottom: 0;
                margin-top: 0;

                &.paddingColumn {
                    padding: 16px;
                }

                .footer-logo {
                    width: 100%;
                    padding-left: 16px;
                    padding-right: 16px;
                    padding-top: 20px;
                }

                .footer-block-infomation {
                    margin-bottom: 0;

                    .footer-block__infomation {
                        @include flexCustome(column, nowrap, null, null, null, 8px);
                        padding-left: 15px;
                        padding-right: 15px;

                        .address-area,
                        .email-area {
                            @include flexCustome(row, nowrap, null, null, null);

                            h2,
                            a {
                                @include customFont(12px, 400, 160%, $White-FFF, null, null);
                                text-align: left;
                                text-decoration: none;
                                margin: 0;

                                span {
                                    color: $Orange-FFB;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }

                .footer-block__menu-list-heading {
                    @include customFont(14px, 700, 170%, $Gray-F1F, null, null);
                    text-transform: uppercase;
                    margin: 0;

                    &.special {
                        display: none;
                    }
                }

                .footer-block__menu-list {
                    @include flexCustome(column, nowrap, null, null, null, 12px);
                    margin-top: 8px;
                    margin-bottom: 0;

                    li {
                        margin-right: 0;
                    }

                    .list-menu__item--link {
                        display: flex;
                        @include customFont(12px, 500, 130%, $White-FFF, null, null);
                        text-transform: uppercase;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        padding: 0;
                    }

                    &.special {
                        @include flexCustome(row, nowrap, center, space-around, center);
                        border-top: 1px solid $Gray-CAC;
                        border-bottom: 1px solid $Gray-CAC;
                        padding: 16px;
                        margin-bottom: 0;
                        margin-top: 12px;

                        .line-area {
                            width: 1px;
                            height: 16px;
                            background: $Gray-CAC;
                        }
                    }

                    &.icon {
                        .list-menu__item--link {
                            gap: 4px;
                        }
                    }
                }
            }
        }

        .footer__content-bottom {
            border-top: 1px solid $Gray-C2C;

            .footer__content-bottom-wrapper {
                padding: 16px;
            }

            .footer__copyright {
                margin: 0;

                .copyright__content {
                    @include customFont(13px, 400, 140%, $Gray-C2C, null, null);
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .footer {

        .footer__content-top {
            padding-top: 40px;
            padding-left: 44px;
            padding-right: 44px;
            padding-bottom: 25px;

            .footer__blocks-wrapper {
                row-gap: 8px;
            }

            .footer-block.grid__item {

                &.footer-logo {
                    width: 100%;
                }

                &.footer-menu {
                    width: fit-content !important;
                }

                &.paddingColumn {
                    padding: 0;
                }

                .footer-logo {
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .footer-block-infomation {

                    .footer-block__infomation {
                        padding-left: 0;
                        padding-right: 0;

                        .address-area,
                        .email-area {
                            max-width: 235px;

                            h2,
                            a {
                                font-size: 13px;
                            }
                        }
                    }
                }

                .footer-block__menu-list-heading {
                    color: $White-FFF;

                    &.special {
                        display: block;
                    }
                }

                .footer-block__menu-list {
                    gap: 17px;
                    margin-top: 17px !important;

                    .list-menu__item--link {
                        font-weight: 400;
                    }

                    &.special {
                        @include flexCustome(column, nowrap, flex-start, flex-start, flex-start);
                        border-top: none;
                        border-bottom: none;
                        padding: 0;
                        margin-bottom: 0;
                        margin-top: 8px;

                        .line-area {
                            display: none;
                        }
                    }
                }
            }
        }

        .footer__content-bottom {
            padding-top: 0;

            .footer__content-bottom-wrapper {
                padding: 10px;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .footer {

        .footer__content-top {
            padding-top: 40px;
            padding-bottom: 33px;

            .footer__blocks-wrapper {
                row-gap: 12px;
            }

            .footer-block.grid__item {

                &.footer-menu {
                    margin-top: -45px;
                }

                .footer-block-infomation {

                    .footer-block__infomation {

                        .address-area,
                        .email-area {
                            max-width: 393px;

                            h2,
                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .footer-block__menu-list-heading {
                    font-size: 16px;
                    line-height: 150%;
                }

                .footer-block__menu-list {
                    gap: 19px;
                    margin-top: 19px !important;


                    .list-menu__item--link {
                        font-size: 14px;
                        line-height: 170%;

                        svg {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }

        .footer__content-bottom {

            .footer__content-bottom-wrapper {
                padding: 24px;
            }

            .footer__copyright {
                .copyright__content {
                    font-size: 14px;
                }
            }
        }
    }
}