@import 'function.scss';

@media only screen and (min-width: 200px) {
    .breadcrumbs {
        padding: 0 10px;
        margin-top: 16px;

        .breadcrumbs__list {
            @include flexCustome(row, wrap, center, flex-start, center);
            column-gap: 3px;
            row-gap: 10px;
            list-style-type: none;
            margin: 0;
            padding: 0;

            .breadcrumbs__item {
                display: inline-block;

                .breadcrumbs__icon {
                    display: flex;

                    svg {
                        width: 13.333px;
                        height: 13.333px;
                    }
                }

                a {
                    display: flex;
                    text-decoration: underline;
                    @include customFont(14px, 400, 100%, $Orange-CA9, null, null);
                    text-decoration: none;
                }

                &.home-item {
                    img {
                        width: 25px;
                        height: 24.31px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .breadcrumbs {
        margin-top: 32px;

        .breadcrumbs__list {
            gap: 6px;

            .breadcrumbs__item {
                .breadcrumbs__icon {
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                a {
                    font-size: 16px;
                }

                &.home-item {
                    img {
                        width: 32px;
                        height: 30.897px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .breadcrumbs {

        .breadcrumbs__list {

            .breadcrumbs__item {
                &.home-item {
                    img {
                        width: 40px;
                        height: 38.621px;
                    }
                }
            }
        }
    }
}