@import 'function.scss';

.fancybox__container {
    background: #000000f0;
}

.header-wrapper {
    @include customTransition(transform 0.2s linear);
}

@media only screen and (min-width: 200px) {
    .f-carousel__thumbs {
        --f-thumb-width: 100px;
        --f-thumb-height: 100px;

        .f-thumbs__slide__button {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #E7E7E7;
                margin: auto;
                z-index: -1;
            }

            .f-thumbs__slide__img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .is-compact .fancybox__thumbs {
        --f-thumb-width: 90px;
        --f-thumb-height: 90px;
    }

    .f-thumbs__slide__img {
        object-fit: contain
    }

    .product-detail-area {
        @include flexCustome(column, nowrap, null, null, null);

        .product-group-info-area {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, auto);
            grid-template-areas:
                "product-title"
                "product-image"
                "product-infomation"
                "product-description";
            overflow: hidden;
            order: 0;

            .product-title-area {
                grid-area: product-title;
                margin-top: 24px;

                h1 {
                    @include customFont(20px, 600, 130%, $Black-000, null, null);
                    margin: 0;
                }
            }

            .product-image-area {
                grid-area: product-image;
                position: relative;
                overflow: hidden;
                margin-top: 12px;

                .f-carousel {
                    display: flex;
                    border: 1px solid #E8E8E8;
                    height: 350px;

                    .f-carousel__slide {
                        overflow-y: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

            .product-infomation-area {
                grid-area: product-infomation;
                margin: 24px 0 0;

                .price__container {
                    .price-item {
                        @include customFont(20px, 700, 100%, $Black-000, null, null);
                    }
                }

                .form__label {
                    @include customFont(16px, 600, 100%, $Black-000, null, null);
                    margin-bottom: 10px;
                }

                variant-radios {
                    .product-form__input input[type='radio']:checked+label {
                        background-color: $Orange-CA9;
                        border-color: $Orange-CA9;
                    }
                }

                .product-form__submit {
                    @include customFont(16px, 700, 100%, $White-FFF, null, null);
                    text-transform: uppercase;
                    background-color: $Orange-CA9;

                    &::after {
                        box-shadow: none;
                    }
                }

                .shopify-payment-button__button {
                    @include customFont(16px, 700, 100%, $White-FFF, null, null);
                    text-transform: uppercase;
                }

                .product-custom-text {
                    span {
                        @include customFont(18px, 700, 100%, $Orange-CA9, null, null);
                        text-transform: uppercase;
                    }
                }

                .box-social-area {
                    @include flexCustome(row, nowrap, center, null, center, 8px);
                    text-decoration: none;
                    margin-right: 16px;
                    width: fit-content;
                    float: left;

                    .icon-area {
                        width: 32px;
                        height: 32px;

                        img {
                            border-radius: 4px;
                            box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .title-area {
                        h4 {
                            @include customFont(13px, 700, 100%, $Black-000, null, null);
                            margin: 0;
                        }
                    }
                }

                .quantity {
                    min-height: 35px;
                }
            }

            .product-description-area {
                grid-area: product-description;

                .product__description {
                    @include customFont(14px, 400, 160%, $Black-000, null, null);
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 11;
                    overflow: hidden;
                }

                &.collapse {
                    .icon-collapse {
                        @include flexCustome(row, nowrap, center, null, center);

                        span {
                            @include customFont(16px, 700, 140%, $Orange-CA9, null, null);
                            text-transform: uppercase;
                        }

                        .icon-area {
                            display: flex;
                        }
                    }
                }

                &.uncollapse {
                    .product__description {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: unset;
                        overflow: unset;
                    }
                }

                .icon-collapse {
                    display: none;
                    cursor: pointer;
                }
            }
        }

        .product-group-attribute-area {
            order: 2;

            .product-attribute-area {
                display: grid;
                grid-template-columns: 32px auto;
                grid-template-rows: auto 1fr;
                column-gap: 12px;
                position: relative;

                &:not(:first-child) {
                    margin-top: 56px;

                    .image-area {
                        &::after {
                            content: "";
                            position: absolute;
                            top: -24px;
                            left: 0;
                            right: 0;
                            height: 2px;
                            background: $Orange-CA9;
                        }
                    }
                }

                &.sunday-natural-section {
                    .description-area {
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }

                .image-area {
                    height: fit-content;
                    grid-column: 1 / span 1;
                    grid-row: 1 / span 1;
                    align-items: center;

                    img {
                        max-height: 32px;
                        max-width: 32px;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .product-attribute-title {
                    grid-column: 2 / span 1;
                    grid-row: 1 / span 1;
                    display: grid;
                    align-items: center;

                    h3 {
                        @include customFont(20px, 700, 120%, $Black-000, null, null);
                        margin: 0;
                    }
                }

                .description-area {
                    grid-column: 1 / span 2;
                    grid-row: 2 / span 1;
                    @include customFont(14px, 500, 160%, $Black-000, null, null);

                    .table-ingredient {
                        border-collapse: collapse;
                        border-spacing: 0;
                        width: 100%;

                        tr {
                            &:first-child {

                                td {
                                    background: #D3D3D3;
                                    font-weight: 700;

                                    &:first-child {
                                        border-left: 1px solid #d3d3d3;
                                        border-right: 1px solid #fff;
                                        min-width: 230px;

                                    }
                                }
                            }

                            td {
                                @include customFont(14px, 500, 160%, $Black-000, null, null);
                                border: 1px solid #d3d3d3;
                                padding: 8px 10px;

                                &:last-child {
                                    min-width: 80px;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .table-detail {
                        border-collapse: collapse;
                        border-spacing: 0;
                        width: 100%;

                        tr {
                            td {
                                @include customFont(14px, 500, 160%, $Black-000, null, null);
                                padding: 8px 10px;
                                vertical-align: top;

                                p{
                                    margin: 0;
                                }

                                &:first-child {
                                    font-weight: 700;
                                    vertical-align: top;
                                }
                            }
                        }
                    }

                    .product-icon-ingredient {
                        @include flexCustome(row, wrap, null, null, null, 6px);
                    }

                    .product-labortest {
                        @include flexCustome(column, wrap, null, null, null, 12px);
                        margin-top: 12px;

                        .box-labortest {
                            @include flexCustome(row, nowrap, null, null, null, 20px);
                            width: 100%;

                            .image {
                                border: 1px solid #D3D3D3;
                            }

                            .title-area {
                                @include flexCustome(column, nowrap, null, space-between, null);

                                span {
                                    @include customFont(14px, 700, 160%, $Black-000, null, null);

                                    &.btn {
                                        color: $Orange-CA9;
                                        text-transform: uppercase;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }

                .button-area {
                    grid-column: 1 / span 2;
                    display: grid;
                    align-items: center;
                    margin-top: 12px;

                    a {
                        @include customFont(17px, 700, 100%, $White-FFF, null, null);
                        @include customButton(transparent, $Orange-CA9, $Gray-5E6, $Gray-5E6, $Orange-CA9, $White-FFF);
                        padding: 16px 38px;
                        width: fit-content
                    }
                }
            }
        }

        .product-group-property-area {
            order: 3;

            .product-property-area {
                @include flexCustome(column, nowrap, center, center, center, 24px);
                margin-top: 56px;

                &.true-clean-section {
                    .content-area {
                        .description-area .content__description {
                            display: -webkit-box;
                            -webkit-line-clamp: 9;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                        .button-area {
                            margin-top: 35px;
                        }
                    }
                }

                .image-area {

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .content-area {
                    .title-area {
                        h3 {
                            @include customFont(20px, 700, 120%, $Black-000, null, null);
                            margin: 0;
                            width: fit-content;

                            img {
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }

                    .description-area {

                        .content__description {
                            @include customFont(14px, 500, 160%, $Black-000, null, null);
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                            overflow: hidden;
                            max-height: 100px;
                        }

                        &.collapse {
                            .icon-collapse {
                                @include flexCustome(row, nowrap, center, null, center);

                                span {
                                    @include customFont(16px, 700, 140%, $Orange-CA9, null, null);
                                    text-transform: uppercase;
                                }

                                .icon-area {
                                    display: flex;
                                }
                            }
                        }

                        &.uncollapse {
                            .content__description {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: unset;
                                overflow: unset;
                                max-height: unset;
                            }
                        }

                        .icon-collapse {
                            display: none;
                            cursor: pointer;
                        }
                    }

                    .button-area {
                        a {
                            @include customFont(17px, 700, 100%, $White-FFF, null, null);
                            @include customButton(transparent, $Orange-CA9, $Gray-5E6, $Gray-5E6, $Orange-CA9, $White-FFF);
                            padding: 16px 38px;
                            width: fit-content
                        }
                    }
                }
            }
        }

        .product-aside-area {
            @include flexCustome(row, nowrap, center, flex-start, center, 32px);
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            background: $White-FFF;
            order: 1;
            width: 100%;
            margin: 24px 0;
            cursor: pointer;
            overflow: auto;


            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar {
                width: 2px;
                height: 4px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $Black-000;
            }


            &.sticky {
                position: sticky;
                top: 0;
                z-index: 999;
            }

            .aside-attribute-item {
                flex-shrink: 0;

                &.active {

                    span {
                        color: $Orange-CA9;
                    }
                }

                span {
                    display: flex;
                    padding: 10px 4px;
                    @include customFont(16px, 700, 120%, $Black-000, null, null);
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .fancybox__thumbs {
        --f-thumb-width: 120px;
        --f-thumb-height: 120px;
    }

    .product-detail-area {

        .product-group-info-area {
            grid-template-columns: repeat(2, calc(50% - 15px));
            grid-template-rows: auto 1fr auto;
            grid-template-areas:
                "product-image product-title"
                "product-image product-description"
                "product-image product-infomation";
            margin-top: 40px;
            column-gap: 30px;

            .product-title-area {
                margin: 0;

                h1 {
                    font-size: 24px;
                }
            }

            .product-image-area {
                margin-top: 0;

                .f-carousel {
                    height: 280px;
                }
            }

            .product-description-area {
                margin-top: 10px;
            }

        }

        .product-group-attribute-area {
            .product-attribute-area {
                grid-template-columns: 50px auto;
                column-gap: 18px;

                .image-area {
                    img {
                        max-height: 50px;
                        max-width: 50px;
                    }

                    &::after {
                        width: 50%;
                    }
                }

                .product-attribute-title {
                    h3 {
                        font-size: 26px;
                    }
                }

                .description-area {
                    font-size: 16px;

                    .table-ingredient {
                        width: auto;

                        tr {
                            &:first-child {
                                td {
                                    &:first-child {
                                        min-width: 350px;
                                    }
                                }
                            }

                            td {
                                font-size: 16px;
                            }
                        }
                    }

                    .table-detail {
                        width: auto;

                        tr {
                            td {
                                font-size: 16px;
                            }
                        }
                    }

                    .product-labortest {
                        flex-direction: row;

                        .box-labortest {
                            width: calc(50% - 6px);

                            .title-area {
                                span {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .product-group-property-area {

            .product-property-area {
                flex-direction: row;
                justify-content: space-between;
                gap: 32px;

                &.even {
                    .image-area {
                        order: 0;
                    }

                    .content-area {
                        order: 1;
                    }
                }

                &.odd {
                    .image-area {
                        order: 1;
                    }

                    .content-area {
                        order: 0;

                    }
                }

                .image-area {
                    width: calc(50% - 16px);
                }

                .content-area {
                    width: calc(50% - 16px);
                    max-width: 450px;

                    .title-area {
                        h3 {
                            font-size: 26px;
                        }
                    }
                }
            }
        }

        .product-aside-area {
            margin: 44px 0;
        }
    }
}

@media only screen and (min-width: 1025px) {
    .product-detail-area {

        .product-group-info-area {
            grid-template-columns: repeat(2, calc(50% - 15px));
            grid-template-areas:
                "product-image product-title"
                "product-image product-description"
                "product-image product-infomation";
            margin-top: 40px;
            column-gap: 30px;

            .product-image-area {
                .f-carousel {
                    height: 380px;
                }
            }

            .product-title-area {
                margin: 0 0 15px 0;

                h1 {
                    font-size: 24px;
                }
            }

            .product-infomation-area {
                margin: 18px 0;
            }

            .product-description-area {
                margin-top: 0;

                .product__description {
                    font-size: 16px;
                }
            }
        }

        .product-group-attribute-area {
            .product-attribute-area {
                grid-template-columns: calc(30% - 30px) calc(70% - 30px);
                grid-template-rows: auto auto;
                column-gap: 60px;
                row-gap: 12px;

                .image-area {
                    height: fit-content;
                    position: relative;
                    grid-column: 1 / span 1;
                    grid-row: 1 / span 1;

                    &::after {
                        content: "";
                        position: absolute;
                        top: unset !important;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        height: 2px;
                        background: $Orange-CA9;
                        width: 100%;
                    }
                }

                .product-attribute-title {
                    grid-column: 2 / span 1;
                    grid-row: 1 / span 1;
                    display: grid;
                    align-items: end;

                    h3 {
                        font-size: 36px;
                    }
                }

                .description-area {
                    grid-column: 2 / span 1;
                    grid-row: 2 / span 1;

                    .table-cell {
                        display: table-cell;
                        width: 1%;
                        padding: 4px;
                        border: 1px solid #efefef;
                    }

                    .table-detail {
                        tr {
                            td {
                                &:first-child {
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }

                .button-area {
                    grid-column: 2 / span 1;
                }
            }
        }

        .product-group-property-area {

            .product-property-area {

                &:not(:first-child) {
                    margin-top: 60px;
                }

                .content-area {

                    .title-area {
                        h3 {
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }
}