@import 'function.scss';

@media only screen and (min-width: 200px) {

    .background-content-area {
        position: relative;
        height: 416px;

        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;

        .group-content-area {
            @include flexCustome(column, nowrap, center, center, center, 8px);
            height: 100%;

            .content-desktop,
            .title-desktop {
                display: none;
            }

            .content-area {
                padding: 0 30px;

                p {
                    @include customFont(13px, 400, 140%, $White-FFF, null, null);
                    margin: 0;
                    text-align: center;
                }
            }

            .title-area {
                h3 {
                    @include customFont(14px, 500, 100%, $White-FFF, null, null);
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {

    .background-content-area {
        height: 322px;

        .group-content-area {
            gap: 16px;
            
            .content-mobile,
            .title-mobile {
                display: none;
            }

            .content-desktop,
            .title-desktop {
                display: block;
            }

            .content-area {
                p {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 160%;
                }
            }

            .title-area {
                h3 {
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {

    .background-content-area {
        height: 549px;
    }
}